# Dependencies
node_modules/

# Next.js
.next/
/out/

# Production
/build

# Misc
.DS_Store

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.production
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/

# OS
Thumbs.db

# Logs
logs
*.log

# Optional eslint cache
.eslintcache

# Temporary folders
tmp/
temp/ 

# Turbo
.turbo/

# Sentry Config File
.env.sentry-build-plugin

# Test Coverage
coverage/
*.lcov

# Playwright
playwright/.auth/
playwright-report/
test-results/